.profile__edit-button {
  background-image: url(../../../images/profile_Edit-Button.svg);
  background-color: black;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  width: 100%;
  max-width: 24px;
  min-height: 24px;
  border: 0;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear;
}
.profile__edit-button:hover {
opacity: 0.6;
}

@media screen and (max-width: 655px) {
  .profile__edit-button {
    max-width: 18px;
    min-height: 18px;
    margin-top: 2px;
  }
}
