.header__logo {
  margin: 0;
  width: 100%;
  max-width: 142px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 4.66%;
}

@media screen and (max-width: 350px) {
  .header__logo {
    max-width: 103.74px;
    margin-left: 27px;
    padding-bottom: 31.6px;
  }
}
