.popup__item-error {
  max-width: 358px;
  min-height: 30px;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: normal;
  color: #FF0000;
  visibility: hidden;
}
