.profile__subtitle {
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: normal;
  width: 100%;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 880px){
  .profile__subtitle {
      font-size: calc(14px + (4 * 1.4) * ((100vw - 320px) / 880));
      line-height: calc(16.94px + (4.84 * 1.4) * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 655px) and (max-width: 705px) {
  .profile__subtitle {
    max-width: 200px;
  }
}

@media screen and (max-width: 655px) {
  .profile__subtitle {
    text-align: center;
  }
}


@media screen and (max-width: 320px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }
}

