.popup__close-button {
  background-image: url(../../../images/popup__Close-Icon.svg);
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 32px;
  min-height: 32px;
  border: 0;
  outline: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear;
}

.popup__close-button:hover  {
  opacity: 0.6;
}


.popup__close-button:focus {
  outline: none;
}

@media screen and (max-width: 655px) {
  .popup__close-button {
    max-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}
