.footer {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 880px;
}

@media screen and (max-width: 655px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 350px) {
  .footer {
    max-width: 282px;
  }
}
